<%= notice %>
<div>
  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <%= search_form_for @q, url: root_path, html: {method: :get} do |f| %>
      <div class="simple-form">
        <div class="form-group">
          <%= f.search_field :name_cont,class: 'form-control form-control-lg',placeholder: "Try a Martini..",label: false %>
        </div>
        &nbsp;
        <div class="form-group">
          <%= f.submit "Search", class: 'btn btn-outline-primary btn-lg' %>
        </div>
      </div>
    <% end %>
    <div class="advanced-form" style="display:none;">
      <%= form_tag ('/advanced_search') do%>
        <div class="form-group">
          <%= search_field_tag 'input_advanced','Enter your search', class: 'form-control form-control-lg'%>
        </div>
        &nbsp;
        <div class="form-group">
          <%= submit_tag "Search", class: 'btn btn-outline-primary btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <%= paginate @drinks%>
  </div>

  <div class="drinks-list">
    <% @drinks.each do |drink| %>
      <div class="card drink-card col-md-12">
        <%= image_tag drink.image_url, class: 'drink-card__img' %>
        <div class="drink-card__body">
          <h2><%= drink.name %></h2>
          <p><%= drink.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= paginate @drinks%>
  </div>

</div>
