<%= notice %>
&nbsp;
<div class="container">
    <%= search_form_for @q, url: root_path, html: {method: :get} do |f| %>
        <div class="form-group">
          <%= f.search_field :name_cont,class: 'form-control',placeholder: "Try a Martini..",label: false %>
        </div>
        <div class="form-group">
          <%= f.search_field :temperature_eq,class: 'form-control',placeholder: "Best temperature..",label: false %>
        </div>
        <div class="form-group">
          <%= f.search_field :alcohol_level_eq,class: 'form-control',placeholder: "Want to be drunked?..",label: false %>
        </div>
        <div class="form-group">
          <%= f.search_field :ibu,class: 'form-control',placeholder: "Sugar?..",label: false %>
        </div>
        <div class="form-group">
          <%= f.submit "Search", class: 'btn btn-outline-primary btn-lg' %>
        </div>
    <% end %>
</div>

  <div class="text-center">
    <%= paginate @drinks%>
  </div>

<div class="container">
  <div class="row">
    <% @drinks.each do |drink| %>
      <section>
        <div class="container" align="center">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <%= image_tag drink.image_url, class: 'img-fluid img-thumbnail drink-card__img' %>
                <!-- <img class="img-fluid rounded-circle" src="img/01.jpg" alt=""> -->
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4"><%= drink.name %></h2>
                <p><%= drink.description %></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
  <div class="text-center">
    <%= paginate @drinks%>
  </div>


