<%if notice.present? %>
  <div class="alert alert-warning" role="alert">
    <%=notice %>
  </div>
<% end %>
&nbsp;
<div class="container">
  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>
  </div>
</div>
&nbsp;
<div class="container simple-form">
    <%= form_tag('/drinks') do %>
        <%= hidden_field_tag 'search','simple' %>
        <div class="form-group">
          <%= text_field_tag 'name',nil ,class: 'form-control',placeholder: "Try a Martini..."%>
        </div>
        <div class="form-group">
          <%= submit_tag "Simple Search", class: 'btn btn-outline-primary btn-lg' %>
        </div>
    <% end %>
</div>
<div class="container advanced-form">
    <%= form_tag('/drinks') do |f| %>
        <%= hidden_field_tag 'search','advanced' %>
        <div class="form-group">
          <%= select_tag 'temperature',options_for_select({ 'hot': 0, 'warm': 1,'ambient': 2, 'cold': 3,'extra cold': 4}),class: 'form-control',prompt: "Best temperature.."%>
        </div>
        <div class="form-group">
          <%= select_tag 'alcohol_level',options_for_select(['Yes','No' ]),class: 'form-control',prompt: "Want to be drunk?.."%>
        </div>
        <div class="form-group">
          <%= select_tag 'Do you like sugar?',options_for_select(['Yes','No' ]),class: 'form-control',prompt: 'Sugar?..'%>
        </div>
        <div class="form-group">
          <%= select_tag 'sophisticated',options_for_select(['Yes','No' ]),class: 'form-control',prompt: 'something sophisticated?'%>
        </div>
        <div class="form-group">
          <%= submit_tag "Advanced Search", class: 'btn btn-outline-primary btn-lg' %>
        </div>
    <% end %>
</div>

<div class="text-center">
  <%= paginate @drinks%>
</div>

<div class="container text-center">
    <% @drinks.each do |drink| %>
      <div class="card mb-3 " >
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag drink.image_url, class: 'img-fluid img-thumbnail card-img-top image_new' %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= drink.name %></h5>
              <p class="card-text"><%= drink.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<div class="text-center">
  <%= paginate @drinks%>
</div>