<%= notice %>
&nbsp;
<div class="container">
    <%= simple_form_for @q, url: root_path, html: {method: :get} do |f| %>
        <div class="form-group">
          <%= f.input :name_cont,class: 'form-control',placeholder: "Try a Martini..",label: false %>
        </div>
        <div class="form-group">
          <%= f.input :temperature_eq,class: 'form-control',prompt: "Best temperature..",label: false,collection:[['hot', 0],['warm', 1],['ambient',2],['cold',3,],['extra_cold',4]], label_method: :first,value_method: :second%>
        </div>
        <div class="form-group">
          <%= f.input :alcohol_level_eq,class: 'form-control',prompt: "Want to be drunked?..",label: false,collection:["Yes","No"]%>
        </div>
        <div class="form-group">
          <%= f.input :ibu,class: 'form-control',prompt: 'Sugar?..',label: false,collection:["Yes","No"]%>
        </div>
        <div class="form-group">
          <%= f.submit "Search", class: 'btn btn-outline-primary btn-lg' %>
        </div>
    <% end %>
</div>

  <div class="text-center">
    <%= paginate @drinks%>
  </div>

<div class="container">
  <div class="row">
    <% @drinks.each do |drink| %>
      <section>
        <div class="container" align="center">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <%= image_tag drink.image_url, class: 'img-fluid img-thumbnail drink-card__img' %>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4"><%= drink.name %></h2>
                <p><%= drink.description %></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
  <div class="text-center">
    <%= paginate @drinks%>
  </div>


